* {
  font-family: Newsreader;
}

/*
  ========================================
  Header CSS
  ========================================
*/

.header-div {
  background-color: beige;
  top: 0;
  left: 0;
  position: absolute;
  width: 96%;
  padding: 30px;
}

.digital-nomad-title:hover, .earth:hover {
  cursor: pointer;
}

.main-header {
  margin-bottom: 180px;
}

.web-title {
  font-size: 60px;
  font-weight: bold;
  padding: 20px 20px;
}

.button-section {
  float: right;
}

.header-button-div {
  margin-bottom: 5px;
}

.register-button, .login-button, .user-home-button, .logout-button, .company-home-button, .contact-button, .create-posting {
  border: none;
  display: inline-block;
  background-color: cadetblue;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
}

.register-button:hover, .login-button:hover, .user-home-button:hover, .logout-button:hover, .company-home-button:hover, .contact-button:hover, .create-posting:hover {
  cursor: pointer;
  background-color: #0099cc;
  color: white;
}

/*
  ========================================
  Home Page CSS
  ========================================
*/

.job-listings-section {
  width: 66.66%;
  display: inline-block;
}

/*
  ========================================
  Search Bar CSS
  ========================================
*/

.search-bar {
  width: 20%;
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}

.sbt {
  font-size: 20px;
  text-decoration: underline;
}

.sb-div {
  margin-bottom: 15px;
}

.search-div-m {
  margin-bottom: 10px;
}

.search-div-n {
  margin-bottom: 8px;
}

.search-div-b {
  margin-left: 45px;
}

.search-button {
  background-color: #a3a3c2;
  padding: 7px 5px;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 15px;
}

.search-button:hover {
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
}

/*
  ========================================
  Job Listing CSS
  ========================================
*/

.job-description {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

.job-container {
  padding-bottom: 10px;
  /* border-bottom: 5px ridge #80ffaa; */
  border-bottom: 5px ridge goldenrod;
  width: 80%;
}

.job-title {
  font-weight: bold;
  text-decoration: underline;
}

.job-desc-div {
  margin-bottom: 10px;
}

.apply-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: cadetblue;
  font-size: 15px;
}

.apply-button:hover {
  cursor: pointer;
  background-color: #0099cc;
  color: white;
}

.job-listing-div {
  margin-top: 20px;
}

/*
  ========================================
  Login Page CSS
  ========================================
*/

.login-div {
  text-align: center;
}

.login-section {
  width: 40%;
  display: inline-block;
  border: 2px ridge black;
  padding: 10px 0px;
}

.login-desc {
  font-size: 30px;
  text-decoration: underline;
}

.login-desc-div {
  margin-bottom: 20px;
}

.user-login-sec {
  margin-right: 20px;
}

.email-input-div, .password-input-div {
  margin-bottom: 20px;
}

.forgot-pass-div {
  text-align: center;
  margin-top: 20px;
}

.forgot-password {
  color: deepskyblue;
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  ========================================
  User Home CSS
  ========================================
*/

.user-home-button-bar, .company-home-button-bar {
  background-color: #b3d9ff;
  text-align: center;
}

.uhb {
  border: none;
  background: none;
  font-size: 20px;
  padding: 15px 10px;
}

.uhb:hover {
  cursor: pointer;
  color: darkred;
}

.uhb-1, .uhb-2 {
  border-right: 2px solid darkred;
}

.login-joblist {
  margin-top: 30px;
}

/*
  ========================================
  User Schedule CSS
  ========================================
*/

.main-user-info-div {
  text-align: center;
}

.user-info-section {
  margin-top: 20px;
  display: inline-block;
  width: 40%;
}

.title-schedule {
  text-decoration: underline;
  font-size: 20px;
}

.title-schedule-div {
  margin-bottom: 15px;
}

.user-info-div {
  margin-bottom: 10px;
}

/*
  ========================================
  Schedule Form CSS
  ========================================
*/

.schedule-form-div {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.create-schedule-button {
  border: none;
  display: inline-block;
  background-color: cadetblue;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
}

.create-schedule-button:hover {
  cursor: pointer;
  background-color: #0099cc;
  color: white;
}

.location-input-div, .timezone-select-div, .time-length-div {
  margin-bottom: 15px;
}

#timeZone-select, #length-select, #dwmy-select, #location-input {
  font-size: 16px;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  border-radius: .5em;
}

/*
  ========================================
  Company Home CSS
  ========================================
*/

.chb-4, .chb-3{
  border-left: 2px solid darkred;
}

.company-home-page {
  text-align: center;
}

.company-name {
  font-size: 30px;
  font-weight: bold;
}

.cnd {
  margin-top: 20px;
  margin-bottom: 15px;
}

.ced {
  margin-bottom: 25px;
}

/*
  ========================================
  Employee List CSS
  ========================================
*/

.employee-list-container {
  text-align: center;
  margin-top: 30px;
}

.employee-name-section, .employee-contact-section {
  width: 30%;
  display: inline-block;
}

.contact-button-section {
  width: 20%;
  display: inline-block;
}

.employee-div {
  margin-bottom: 40px;
}

.cit {
  text-decoration: underline;
}

.eid {
  margin-bottom: 10px;
}

.employee-name {
  font-weight: bold;
}

/*
  ========================================
  Company Job List CSS
  ========================================
*/

.company-joblist-container {
  text-align: center;
}

.company-job-container {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 5px ridge #80ffaa;
}

.cjl {
  display: inline-block;
  width: 20%;
}

/*
  ========================================
  Job Posting CSS
  ========================================
*/

#jpd {
  resize: none;
}

.job-posting-div {
  text-align: left;
  margin-top: 40px;
  margin-left: 500px;
}

.jp-div {
  margin-bottom: 15px;
}